# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Test results
*.cover
*.tox
*.nox
.cache
.coverage
nosetests.xml
coverage.xml
*.log

# Ignore virtual environments
.venv/
env/
venv/

# Ignore IDE directories
.vscode/
.idea/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
